<div class="full">
  <div class="center">
    <div class="top-bottom-line">
      <h1 class="text-center tighten animated rollIn" id="title"> ROCK. PAPER. SIZZ. </h1>
    </div>
    <div class="animated bounceInDown">
      <h3 class="text-center tighten animated flash" id="button"> Start </h3>
    </div>
  </div>
</div>

<div class="full second">
  <div class="container center">
    <div class="col-xs-3 col-md-offset-2">
      <h1 class="text-center"> YOU </h1>
      <div class="large-square text-center">
        <div class="rock"> </div>
      </div>
      <div class="col-xs-4">
        <div class="small-square"> </div>
      </div>
      <div class="col-xs-4">
        <div class="small-square"> </div>
      </div>
      <div class="col-xs-4">
        <div class="small-square"> </div>
      </div>
    </div>
    <div class="col-xs-2">
      <h2 class="text-center"> Score </h2>
      <div class="top-bottom-line nopadding pull-left">
        <h1 class="text-center tighten">1</h1>
      </div>
      <div class="top-bottom-line nopadding pull-right">
        <h1 class="text-center tighten">0</h1>
      </div>
    </div>
    <div class="col-xs-3">
      <h1 class="text-center"> COMP </h1>
      <div class="large-square text-center">
        <div class="rock"> </div>
      </div>
      <div class="col-xs-4">
        <div class="small-square"> </div>
      </div>
      <div class="col-xs-4">
        <div class="small-square"> </div>
      </div>
      <div class="col-xs-4">
        <div class="small-square"> </div>
      </div>
    </div>
  </div>
</div>

<div class="full third" id="sample">
  <p> Some words </p>
</div>
